# Python
*.pyc
*.pyo
*.pyd
_pycache_/
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
*.so
*.mo
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.pkl
db.sqlite3
.DS_Store

# Environments
venv/
env/
ENV/
venv.bak/
.vscode/
.idea/
*.env
*.local

# Static and media files
/staticfiles/
/media/
/static/
/mediafiles/

# pyenv
.python-version

# Editor and IDE files
.vscode/
.idea/

# JetBrains IDEs
*.iml
*.ipr
*.iws
.idea/

# macOS specific
.DS_Store

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# Temporary files
*.swp
