<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConectaPop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="icon" href="iconecp.png" type="image/png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">

</head>
<body>
    <div class="navbar">
        <a href="{% url 'Aplicacao:home' %}">
            <div class="logo">ConectaPop</div>
          </a>
        <div class="nav-links">
            <div class="dropdown">
                <a href="#">Relatar e Acompanhar</a>
                <div class="dropdown-content">
                    <a href="{% url 'Aplicacao:relatar_problemas' %}">Relatar Problemas</a>
                    <a href="atualizacoes-moradores.html">Atualizações para Moradores</a>
                </div>
            </div>            
            <div class="dropdown">
                <a href="#">Status das Reformas</a>
                <div class="dropdown-content">
                    <a href="relatorios-progresso.html">Relatórios de Progresso</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Projetos e Oportunidades</a>
                <div class="dropdown-content">
                    <a href="oportunidades-projetos.html">Oportunidades de Projetos</a>
                    <a href="documentos-projetos.html">Documentos de Projetos</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Mapa e Segurança</a>
                <div class="dropdown-content">
                    <a href="mapa-reformas.html">Mapa de Reformas e ver reformas</a>
                    <a href="alertas-seguranca.html">Alertas de Segurança</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Opinião da Comunidade</a>
                <div class="dropdown-content">
                    <a href="participar-enquetes.html">Participar de Enquetes e Sugestões</a>
                </div>
            </div>
            <div class="auth-links">
                <a href="registrar.html" class="register-btn">Registrar</a>
                <a href="login.html" class="login-btn">Login</a>
            </div>
        </div>
    </div>    
    <br><br><br>
    <div class="hero">
        <div class="hero-text">
            <p>Construindo o futuro, juntos.</p>
            <h1>Transformando comunidades:<br/>Monitore e participe das mudanças que fazem a diferença.</h1>
            <button class="discover-btn">Saiba mais</button>
        </div>
        <div class="hero-image">
            <img alt="icone de pessoas" height="400" src="https://cdn-icons-png.flaticon.com/512/3957/3957464.png"/>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>Uma Plataforma para Construir Comunidades Mais Fortes. </h1>
        </div>
        <div class="content">
            <div class="text">
                <p>O site é uma ferramenta essencial para o avanço do Objetivo de Desenvolvimento Sustentável 9 (ODS 9) - Indústria, Inovação e Infraestrutura. Ele oferece uma plataforma interativa e acessível para monitorar as reformas e mudanças nas estruturas das comunidades, impulsionando a inovação, o desenvolvimento industrial e a construção de infraestruturas mais resilientes e sustentáveis.
                </p>
            </div>
            <div class="illustration">
                <img alt="pessoas e predios" height="300" src="https://cdn-icons-png.freepik.com/512/8890/8890336.png"/>
            </div>
        </div>
        <br><br><br><br>
        <div class="services">
            <div class="service-item">
                <img src="https://cdn-icons-png.flaticon.com/512/2818/2818153.png" alt="Ícone de Relógio" style="width: 24px; height: 24px; margin-right: 20px;">
                <div>
                    <h3>Interatividade</h3>
                    <p>A plataforma permite que os usuários interajam diretamente com o conteúdo, fornecendo feedback e compartilhando ideias. Além de empoderar a comunidade, também garante que as necessidades e preocupações locais sejam consideradas nas decisões de desenvolvimento.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="https://cdn-icons-png.freepik.com/512/4371/4371369.png" alt="Ícone de transparencia" style="width: 24px; height: 24px; margin-right: 20px;">
                <div>
                    <h3>Transparência</h3>
                    <p>O site apresenta informações claras e atualizadas sobre reformas e projetos em andamento. A transparência constrói confiança entre a população e as autoridades, permitindo que você  cidadão acompanhe o progresso e participe ativamente do processo.</p>
                </div>
            </div>
            <div class="service-item">
                <img src="https://png.pngtree.com/png-vector/20230223/ourmid/pngtree-sustainability-line-icon-png-image_6615401.png" alt="Ícone de mão segurando a terra" style="width: 35px; height: 35px; margin-right: 20px;">

                <div>
                    <h3>Foco em Sustentabilidade</h3>
                    <p>O projeto prioriza soluções que respeitam o meio ambiente e promovem o uso de recursos sustentáveis. Isso não só ajuda a preservar o meio ambiente para as futuras gerações, mas também pode gerar economias a longo prazo e promover um desenvolvimento mais resiliente e saudável.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-section">
        <div>
            <i class="fas fa-phone-alt"></i>
            <h3>Número para contato</h3>
            <p>(81) 99999-9999 </p>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <h3>Email para contato</h3>
            <p>contato@conectapop.com</p>
        </div>
    </div>
    <div class="footer">
        <div>
            <h4>Sobre o ConectaPop:</h4>
            <p>Uma plataforma dedicada ao avanço do ODS 9,
            <p>promovendo inovação e infraestrutura sustentável.</p>
          
        </div>
        <div>
            <h4>Contato:</h4>
            <p>Para dúvidas ou sugestões, entre em contato.</p>
        
        </div>
        <div>
            <h4>Política de privacidade</h4>
            <a href="politica-de-priv.html" class="contact-button"></i>Clique aqui</a>
        </div>
    </div>
</body>
</html>
